<div class="w-screen bg-gray-200 rounded-2xl">
  <!-- User Greeting -->
  <div class="flex space-x-8 py-12 pl-24">
    <h1 class="text-4xl">Welcome User</h1>

    <a href="/discover" class="bg-blue-400 hover:bg-opacity-70 rounded p-4">Discover Movies</a>
  </div>

  <!-- Friends Section -->
  <div class="flex justify-around pb-16">
    <div id="friends" class="bg-white px-16 rounded-xl border-black h-full">
      <h4 class="text-2xl pl-4">Friends</h4>
      <ul class="grid grid-cols-4">
        <li class="p-4">Friend 1</li>
        <li class="p-4">Friend 2</li>
        <li class="p-4">Friend 3</li>
        <li class="p-4">Friend 4</li>
        <li class="p-4">Friend 5</li>
        <li class="p-4">Friend 6</li>
        <li class="p-4">Friend 7</li>
        <li class="p-4">Friend 8</li>
      </ul>
    </div>

    <!-- Parties Section -->
    <div id="parties" class="flex flex-col bg-white px-16 rounded-xl border-black items-center">
      <h3 class="text-3xl underline">Viewing Parties</h3>

      <div class="flex flex-col items-center">
        <h4 class="text-2xl">Hosting</h4>
        <ul class="flex space-x-4">
          <li><a href="#" class="hover:text-blue-400">Movie Title</a></li>
          <li>Date/Time</li>
          <li>Im the host</li>
          <li>
            <ul>
              <li>Friend 1</li>
              <li>Friend 2</li>
              <li>Friend 3</li>
            </ul>
          </li>
        </ul>

        <hr>

        <ul class="flex space-x-4">
          <li><a href="#" class="hover:text-blue-400">Movie Title</a></li>
          <li>Date/Time</li>
          <li>Im the host</li>
          <li>
            <ul>
              <li>Friend 1</li>
              <li>Friend 2</li>
              <li>Friend 3</li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="flex flex-col items-center">
        <h4 class="text-2xl">Attending</h4>
        <ul class="flex space-x-4">
          <li><a href="#" class="hover:text-blue-400">Movie Title</a></li>
          <li>Date/Time</li>
          <li>Who is hosting</li>
          <li>
            <ul>
              <li class="font-bold">Users name is bold</li>
              <li>Friend 2</li>
              <li>Friend 3</li>
            </ul>
          </li>
        </ul>

        <hr>

        <ul class="flex grid-col-4 space-x-4">
          <li><a href="#" class="hover:text-blue-400">Movie Title</a></li>
          <li>Date/Time</li>
          <li>Who is hosting</li>
          <li>
            <ul>
              <li class="font-bold">Users name is bold</li>
              <li>Friend 2</li>
              <li>Friend 3</li>
            </ul>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>