<div class="w-screen h-full">

  <div class="flex flex-col items-center h-1/2 w-1/4 bg-gray-200 rounded-3xl p-32" style="margin-top: 8%; margin-left: 37%;">

    <%= form_with url: '/login', method: :post, local: true do |f| %>
      <div class="flex flex-col mb-4">
        <label for="username" class="text-xl">Username</label>
        <%= f.text_field :username %>
      </div>
      <div class="flex flex-col mb-4">
        <label for="password" class="text-xl">Password</label>
        <%= f.password_field :password %>
      </div>
      <%= f.submit 'Submit', class: 'bg-blue-400 px-4 py-2 rounded hover:bg-opacity-70' %>
    <% end %>

  </div>

</div>
