<div class="w-screen h-full">

  <div class="flex flex-col items-center justify-center h-1/2 w-1/2 bg-gray-200 rounded-3xl p-32" style="margin-top: 12.5%; margin-left: 25%;">
    <div class="grid grid-cols-2">
      <div class="text-4xl text-center">Welcome to your Viewing Party</div>
      <div class="text-center">With this site you'll be able to get together with your friends and watch some movies</div>
    </div>

    <div class="flex mt-8 space-x-4">
      <% if current_user %>
        <%= link_to 'Dashboard', dashboard_path, class: 'bg-blue-400 rounded px-4 py-2 hover:bg-transparent transition' %>
      <% else %>
        <%= link_to 'Login', login_path, class: 'bg-blue-400 rounded px-4 py-2 hover:bg-transparent transition' %>
      <% end %>
      <a href="/register" class="rounded px-4 py-2 hover:bg-blue-400 transition">Register</a>
    </div>
    

  </div>

</div>
