---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/not_found?api_key=<API_KEY>&append_to_response=reviews,credits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - b23bf832d0ca02b841ddf1ca4a00bb246277554c
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '15027'
    body:
      encoding: UTF-8
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Sat, 10 Jul 2021 02:13:52 GMT
recorded_with: VCR 6.0.0
