<form action="#" class="flex w-70 h-14 p-4 bg-blue-400 bg-opacity-70 rounded-xl">
  <input type="text" name="search" id="search" placeholder="Search" class="rounded-l px-4">
  <input type="submit" name="commit" class="bg-gray-200 rounded-r px-2 cursor-pointer hover:bg-blue-400 transition">
</form>